<div th:fragment="style">
<link rel="stylesheet" th:href="@{/css/pintuer.css}" />
<script type="text/javascript">var ctx = '[(@{/})]';</script>
<script type="text/javascript" th:src="@{/js/jquery.js}"></script>
<!-- <script type="text/javascript" th:src="@{/js/pintuer.js}"></script> -->
<script type="text/javascript" th:src="@{/js/zutil.js}"></script>
<script type="text/javascript" th:src="@{/js/json-format.js}"></script>
<script type="text/javascript" th:src="@{/js/dateformat.js}"></script>
<script type="text/javascript" th:src="@{/plugins/layer/layer.js}"></script>
<script type="text/javascript" th:src="@{/plugins/laydate/laydate.js}"></script>
<style type="text/css">
/* 取消圆角 */
blockquote,.drop-menu,.nav ul,.nav.nav-main li:first-child,.nav.nav-main li:first-child a,.nav.nav-main li:last-child a,.nav.nav-sub a,.nav.nav-tabs a,.bg-inverse .nav.nav-tabs a,.bg-inverse .nav.nav-tabs .active a,.selected-inline li,.progress,.progress .progress-bar:last-child,.range,.range-bar,.panel,.panel-head,.panel-foot,.tab .tab-nav li a,.tab .tab-body-bordered,.dialog,.dialog .dialog-head,.tip,.tip .tip-body,.tip .image,.alert,.pagination li,.pagination .active,.pagination a:hover,.pagination-group,.pagination-group li:first-child,.pagination-group li:last-child,.pager li a{border-radius:0;}
.button,.button-group .button-group:first-child .dropdown-toggle,.button-group .button-group:last-child .button:first-child,.button-group-y .button-group:first-child .dropdown-toggle,.button-group-y .button-group:last-child .button:first-child,.input,.input-group .addon,.input-inline input:first-child,.input-inline input:last-child,.input-block input:first-child,.input-block input:last-child{border-radius:0;}
</style>
</div>