<!DOCTYPE html>
<html lang="zh-cn">
<head>
<title>月光边境</title>
<meta name="keywords" content="关键词" />
<meta name="description" content="描述" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<th:block th:include="common/style::style" />
</head>
<body>
	<div class="container">
		<div class="panel-head">
			<select class="input input-auto border-main">
				<option value="GET">GET</option>
				<option value="POST">POST</option>
				<option value="PUT">PUT</option>
				<option value="DELETE">DELETE</option>
			</select>
			<input id="url" type="text" style="margin-left: -5px;" size="80" class="input input-auto border-main" placeholder="Enter Request URL"/> 
			<input type="button" value="Send" class="button bg-main" style="border-left: 0 none;margin-left: -10px;border-top-left-radius:0;border-bottom-left-radius:0" />
			<input type="button" value="Params" class="button bg-blue" />
		</div>
		<div class="panel">
			<div>
				<table class="table">
					<thead>
						<tr>
							<th>表名</th>
							<th>描述</th>
							<th>行</th>
							<th width="120">操作</th>
						</tr>
					</thead>
					<tbody>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</body>
<script type="text/javascript">
	$(function(){
		var url = '[(@{/})]common/tables.json';
		$.get(url).done(function(data){
			$.each(data.data,function(i,n){
				$('tbody').append('<tr><td>'+n.tableName+'</td><td>'+(n.comment==null?'':n.comment)+'</td><td>'+n.totalResult+'</td><td><a class="button border-main button-little" href="[(@{/})]common/'+n.tableName+'/list" target="_blank">查看</a></td></tr>');
			});
		});
	});
</script>
</html>